
{port_specs, [{"priv/erldokan_drv.dll", ["c_src/*.c"]}]}.

{port_env, [
	{"DRV_CFLAGS", "/TC /Zi /W3 /O2 /Oi /Oy- /GL /D WIN32 /D NDEBUG /D _WINDOWS /D _USRDLL /D _WINDLL /D UNICODE /D _UNICODE /EHsc /MD /GS /Gy /Fdc_src\\ /I\"${ProgramFiles}\\Dokan\\DokanLibrary\" $ERL_CFLAGS "},
	{"DRV_LDFLAGS", "/DLL /INCREMENTAL:NO /OPT:REF /OPT:ICF /DEBUG /PDB:priv\\erldokan_drv.pdb /SUBSYSTEM:WINDOWS /LTCG /DYNAMICBASE /NXCOMPAT /LIBPATH:$ERL_EI_LIBDIR /LIBPATH:\"${ProgramFiles}\\Dokan\\DokanLibrary\" dokan.lib ei_md.lib erl_interface_md.lib kernel32.lib user32.lib"}
]}.

