
{port_specs, [{"priv/erldokan_drv.dll", ["c_src/*.c"]}]}.

{port_env, [
	{"CFLAGS", "/wd4820 /wd4668 /wd4711 /wd4127 /D WIN32 /DWINVER=0x0500 /D UNICODE /D _UNICODE /D NDEBUG /O2 /I\"${ProgramFiles}\\Dokan\\DokanLibrary\""},
	{"LDFLAGS", "/LIBPATH:\"${ProgramFiles}\\Dokan\\DokanLibrary\" dokan.lib"}
]}.

